.container{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: start;
	max-width: 520px;
	background-color: white;
	text-align: center;
	margin: 90px auto;
	border-radius: 10px;
	padding-bottom: 32px;
}

.header{
	margin: 32px 0;
	font-size: 24px;
	color:rgba(11, 131, 230, 0.9)
}

.todo_form{
	margin: 32px auto 0 auto;
}

.input-add{
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	border: 2px solid rgba(11, 131, 230, 0.9);
	width: 70%;
	background: transparent;
	color: black;
}

.input-edit{
	padding: 10px;
	margin: 0 5px 0 22px;
	border-radius: 5px;
	border: 2px solid rgba(11, 131, 230, 0.9);
	width: 70%;
	background: transparent;
	color: black;
}

.btn{
	padding: 10px;
	margin-top: 5px;
	border-radius: 5px;
	border: 2px solid rgba(11, 131, 230, 0.9);
	cursor: pointer;
	outline: none;
	background: transparent;
	color: black;
}

.icons{
	display: flex;
}

.icon_delete{
	color: rgba(255, 0, 0, 0.743);
}


.icon_delete,
.icon_edit{
	display: flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
}

.todo-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px auto 0 53px;
	color: black;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid rgba(11, 131, 230, 0.9);
	width: 70%;
}

.todo-container div{
	cursor: pointer;
}

.todo-complete{
	position: relative;
	text-decoration: line-through;
	opacity: 0.4;
	align-items: center;
	margin: 10px auto 0 53px;
	color: black;
	padding: 10px;
	border-radius: 5px;
	border: 2px solid rgba(11, 131, 230, 0.9);
	width: 70%;
}

.todo-complete .icons {
	position: absolute;
	right: 10px;
   top: 7px
}
